-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: InstitutoMatematicas
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aula`
--

DROP TABLE IF EXISTS `aula`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aula` (
  `id_aula` int unsigned NOT NULL AUTO_INCREMENT,
  `codigo_aula` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `capacidad` int DEFAULT NULL,
  `ubicacion` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Disponible',
  PRIMARY KEY (`id_aula`),
  UNIQUE KEY `aula_codigo_aula_unique` (`codigo_aula`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aula`
--

LOCK TABLES `aula` WRITE;
/*!40000 ALTER TABLE `aula` DISABLE KEYS */;
INSERT INTO `aula` VALUES (1,'A-101',30,NULL,NULL,'Disponible'),(2,'B-205',40,'Pabellón de Ciencias',NULL,'Disponible'),(3,'LAB-01',25,'Laboratorio Informática',NULL,'Disponible'),(4,'A-102',30,'Piso 1, Ala A','Teoría','Disponible'),(5,'A-103',30,'Piso 1, Ala A','Teoría','Disponible'),(6,'B-201',40,'Piso 2, Ala B','Teoría','Disponible'),(7,'B-202',40,'Piso 2, Ala B','Teoría','Disponible'),(8,'Lab-1',20,'Piso 1, Ala de Laboratorios','Laboratorio Computacional','Disponible'),(9,'Aud-1',100,'Planta Baja','Auditorio','Disponible');
/*!40000 ALTER TABLE `aula` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caja`
--

DROP TABLE IF EXISTS `caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caja` (
  `id_caja` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` enum('Activa','Inactiva') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_caja`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caja`
--

LOCK TABLES `caja` WRITE;
/*!40000 ALTER TABLE `caja` DISABLE KEYS */;
INSERT INTO `caja` VALUES (1,'Caja Principal','Activa','2026-07-04 00:49:38','2026-07-04 00:49:38');
/*!40000 ALTER TABLE `caja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cargo`
--

DROP TABLE IF EXISTS `cargo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cargo` (
  `id_cargo` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nivel_jerarquico` int DEFAULT NULL,
  PRIMARY KEY (`id_cargo`),
  UNIQUE KEY `cargo_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cargo`
--

LOCK TABLES `cargo` WRITE;
/*!40000 ALTER TABLE `cargo` DISABLE KEYS */;
INSERT INTO `cargo` VALUES (1,'Secretaria','Registro de estudiantes y atención',3),(2,'Coordinador','Coordinación académica',2),(3,'Cajero','Cobranzas y caja',3);
/*!40000 ALTER TABLE `cargo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `concepto_pago`
--

DROP TABLE IF EXISTS `concepto_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `concepto_pago` (
  `id_concepto` int unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `monto_base` decimal(8,2) DEFAULT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `es_obligatorio` tinyint(1) NOT NULL DEFAULT '0',
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_concepto`),
  UNIQUE KEY `concepto_pago_codigo_unique` (`codigo`),
  UNIQUE KEY `concepto_pago_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `concepto_pago`
--

LOCK TABLES `concepto_pago` WRITE;
/*!40000 ALTER TABLE `concepto_pago` DISABLE KEYS */;
INSERT INTO `concepto_pago` VALUES (1,'MATR01','Matrícula',500.00,'Obligatorio',1,'Activo'),(2,'PENS01','Pensión / Mensualidad',250.00,'Obligatorio',1,'Activo'),(3,'CLIB01','Curso Libre',300.00,'Obligatorio',1,'Activo');
/*!40000 ALTER TABLE `concepto_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `curso`
--

DROP TABLE IF EXISTS `curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `curso` (
  `id_curso` int unsigned NOT NULL AUTO_INCREMENT,
  `id_especialidad` int unsigned NOT NULL,
  `id_nivel` int unsigned NOT NULL,
  `codigo_curso` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre_curso` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `creditos` int DEFAULT NULL,
  `duracion_horas` int DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_curso`),
  UNIQUE KEY `curso_codigo_curso_unique` (`codigo_curso`),
  UNIQUE KEY `curso_nombre_curso_unique` (`nombre_curso`),
  KEY `curso_id_especialidad_foreign` (`id_especialidad`),
  KEY `curso_id_nivel_foreign` (`id_nivel`),
  KEY `IX_CURSO_estado` (`estado`),
  CONSTRAINT `curso_id_especialidad_foreign` FOREIGN KEY (`id_especialidad`) REFERENCES `especialidad` (`id_especialidad`),
  CONSTRAINT `curso_id_nivel_foreign` FOREIGN KEY (`id_nivel`) REFERENCES `nivel` (`id_nivel`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `curso`
--

LOCK TABLES `curso` WRITE;
/*!40000 ALTER TABLE `curso` DISABLE KEYS */;
/*!40000 ALTER TABLE `curso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `curso_prerrequisito`
--

DROP TABLE IF EXISTS `curso_prerrequisito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `curso_prerrequisito` (
  `id_prerequisito` int unsigned NOT NULL AUTO_INCREMENT,
  `id_curso` int unsigned NOT NULL,
  `id_curso_prerequisito` int unsigned NOT NULL,
  `nota_minima` decimal(4,2) NOT NULL DEFAULT '11.00',
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Obligatorio',
  `condicion` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Aprobado',
  PRIMARY KEY (`id_prerequisito`),
  UNIQUE KEY `uq_curso_prereq` (`id_curso`,`id_curso_prerequisito`),
  KEY `curso_prerrequisito_id_curso_prerequisito_foreign` (`id_curso_prerequisito`),
  CONSTRAINT `curso_prerrequisito_id_curso_foreign` FOREIGN KEY (`id_curso`) REFERENCES `curso` (`id_curso`) ON DELETE CASCADE,
  CONSTRAINT `curso_prerrequisito_id_curso_prerequisito_foreign` FOREIGN KEY (`id_curso_prerequisito`) REFERENCES `curso` (`id_curso`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `curso_prerrequisito`
--

LOCK TABLES `curso_prerrequisito` WRITE;
/*!40000 ALTER TABLE `curso_prerrequisito` DISABLE KEYS */;
/*!40000 ALTER TABLE `curso_prerrequisito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_inscripcion`
--

DROP TABLE IF EXISTS `detalle_inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_inscripcion` (
  `id_detalle_inscripcion` int unsigned NOT NULL AUTO_INCREMENT,
  `id_inscripcion` int unsigned NOT NULL,
  `id_grupo` int unsigned NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Inscrito',
  PRIMARY KEY (`id_detalle_inscripcion`),
  UNIQUE KEY `uq_det_inscripcion_ins_grp` (`id_inscripcion`,`id_grupo`),
  KEY `IX_DETALLE_INSCRIPCION_grupo` (`id_grupo`),
  KEY `IX_DETALLE_INSCRIPCION_inscripcion` (`id_inscripcion`),
  CONSTRAINT `detalle_inscripcion_id_grupo_foreign` FOREIGN KEY (`id_grupo`) REFERENCES `grupo` (`id_grupo`),
  CONSTRAINT `detalle_inscripcion_id_inscripcion_foreign` FOREIGN KEY (`id_inscripcion`) REFERENCES `inscripcion` (`id_inscripcion`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=391 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_inscripcion`
--

LOCK TABLES `detalle_inscripcion` WRITE;
/*!40000 ALTER TABLE `detalle_inscripcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_inscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_pago`
--

DROP TABLE IF EXISTS `detalle_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_pago` (
  `id_detalle_pago` int unsigned NOT NULL AUTO_INCREMENT,
  `id_pago` int unsigned NOT NULL,
  `id_concepto` int unsigned NOT NULL,
  `id_deuda` int unsigned DEFAULT NULL,
  `monto_aplicado` decimal(8,2) NOT NULL,
  `descripcion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_detalle_pago`),
  KEY `IX_DETALLE_PAGO_pago` (`id_pago`),
  KEY `IX_DETALLE_PAGO_concepto` (`id_concepto`),
  KEY `detalle_pago_id_deuda_foreign` (`id_deuda`),
  CONSTRAINT `detalle_pago_id_concepto_foreign` FOREIGN KEY (`id_concepto`) REFERENCES `concepto_pago` (`id_concepto`),
  CONSTRAINT `detalle_pago_id_deuda_foreign` FOREIGN KEY (`id_deuda`) REFERENCES `deuda_estudiante` (`id_deuda`) ON DELETE SET NULL,
  CONSTRAINT `detalle_pago_id_pago_foreign` FOREIGN KEY (`id_pago`) REFERENCES `pago` (`id_pago`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=781 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_pago`
--

LOCK TABLES `detalle_pago` WRITE;
/*!40000 ALTER TABLE `detalle_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deuda_estudiante`
--

DROP TABLE IF EXISTS `deuda_estudiante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deuda_estudiante` (
  `id_deuda` int unsigned NOT NULL AUTO_INCREMENT,
  `id_estudiante` int unsigned NOT NULL,
  `id_periodo` int unsigned NOT NULL,
  `id_concepto` int unsigned NOT NULL,
  `monto` decimal(8,2) NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Pendiente',
  `fecha_generacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_deuda`),
  KEY `deuda_estudiante_id_estudiante_foreign` (`id_estudiante`),
  KEY `deuda_estudiante_id_periodo_foreign` (`id_periodo`),
  KEY `deuda_estudiante_id_concepto_foreign` (`id_concepto`),
  CONSTRAINT `deuda_estudiante_id_concepto_foreign` FOREIGN KEY (`id_concepto`) REFERENCES `concepto_pago` (`id_concepto`) ON DELETE CASCADE,
  CONSTRAINT `deuda_estudiante_id_estudiante_foreign` FOREIGN KEY (`id_estudiante`) REFERENCES `estudiante` (`id_estudiante`) ON DELETE CASCADE,
  CONSTRAINT `deuda_estudiante_id_periodo_foreign` FOREIGN KEY (`id_periodo`) REFERENCES `periodo_academico` (`id_periodo`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=963 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deuda_estudiante`
--

LOCK TABLES `deuda_estudiante` WRITE;
/*!40000 ALTER TABLE `deuda_estudiante` DISABLE KEYS */;
/*!40000 ALTER TABLE `deuda_estudiante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docente`
--

DROP TABLE IF EXISTS `docente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `docente` (
  `id_docente` int unsigned NOT NULL,
  `codigo_docente` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `grado_academico` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_contratacion` date DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_docente`),
  UNIQUE KEY `docente_codigo_docente_unique` (`codigo_docente`),
  KEY `IX_DOCENTE_estado` (`estado`),
  CONSTRAINT `docente_id_docente_foreign` FOREIGN KEY (`id_docente`) REFERENCES `persona` (`id_persona`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docente`
--

LOCK TABLES `docente` WRITE;
/*!40000 ALTER TABLE `docente` DISABLE KEYS */;
INSERT INTO `docente` VALUES (134,'DOC-001','Doctorado','2023-07-03','Activo'),(135,'DOC-002','Licenciatura','2022-07-03','Activo'),(136,'DOC-003','Diplomado','2022-07-03','Activo'),(137,'DOC-004','Doctorado','2023-07-03','Activo'),(275,'DOC-L103','Licenciatura','2026-05-03','Activo'),(276,'DOC-L564','Licenciatura','2026-05-03','Activo'),(277,'DOC-L808','Licenciatura','2026-05-03','Activo');
/*!40000 ALTER TABLE `docente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docente_especializacion`
--

DROP TABLE IF EXISTS `docente_especializacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `docente_especializacion` (
  `id_docente_especializacion` int unsigned NOT NULL AUTO_INCREMENT,
  `id_docente` int unsigned NOT NULL,
  `id_especializacion_docente` int unsigned NOT NULL,
  `nivel_experiencia` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `es_principal` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_docente_especializacion`),
  UNIQUE KEY `uq_doc_esp` (`id_docente`,`id_especializacion_docente`),
  KEY `docente_especializacion_id_especializacion_docente_foreign` (`id_especializacion_docente`),
  CONSTRAINT `docente_especializacion_id_docente_foreign` FOREIGN KEY (`id_docente`) REFERENCES `docente` (`id_docente`) ON DELETE CASCADE,
  CONSTRAINT `docente_especializacion_id_especializacion_docente_foreign` FOREIGN KEY (`id_especializacion_docente`) REFERENCES `especializacion_docente` (`id_especializacion_docente`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docente_especializacion`
--

LOCK TABLES `docente_especializacion` WRITE;
/*!40000 ALTER TABLE `docente_especializacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `docente_especializacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleado`
--

DROP TABLE IF EXISTS `empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empleado` (
  `id_empleado` int unsigned NOT NULL,
  `codigo_empleado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_cargo` int unsigned NOT NULL,
  `fecha_contratacion` date DEFAULT NULL,
  `tipo_contrato` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_empleado`),
  UNIQUE KEY `empleado_codigo_empleado_unique` (`codigo_empleado`),
  KEY `empleado_id_cargo_foreign` (`id_cargo`),
  KEY `IX_EMPLEADO_estado` (`estado`),
  CONSTRAINT `empleado_id_cargo_foreign` FOREIGN KEY (`id_cargo`) REFERENCES `cargo` (`id_cargo`),
  CONSTRAINT `empleado_id_empleado_foreign` FOREIGN KEY (`id_empleado`) REFERENCES `persona` (`id_persona`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleado`
--

LOCK TABLES `empleado` WRITE;
/*!40000 ALTER TABLE `empleado` DISABLE KEYS */;
INSERT INTO `empleado` VALUES (201,'EMP-001',1,'2026-07-03','Indefinido','Activo'),(202,'EMP-002',2,'2026-07-03','Indefinido','Activo'),(203,'EMP-003',3,'2026-07-03','Indefinido','Activo');
/*!40000 ALTER TABLE `empleado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especialidad`
--

DROP TABLE IF EXISTS `especialidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especialidad` (
  `id_especialidad` int unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  PRIMARY KEY (`id_especialidad`),
  UNIQUE KEY `especialidad_codigo_unique` (`codigo`),
  UNIQUE KEY `especialidad_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especialidad`
--

LOCK TABLES `especialidad` WRITE;
/*!40000 ALTER TABLE `especialidad` DISABLE KEYS */;
INSERT INTO `especialidad` VALUES (1,'MAT-PUR','Matemática Pura',NULL,'Activa'),(2,'MAT-APP','Matemática Aplicada',NULL,'Activa'),(3,'EST-PRO','Estadística y Probabilidad',NULL,'Activa');
/*!40000 ALTER TABLE `especialidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especializacion_docente`
--

DROP TABLE IF EXISTS `especializacion_docente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especializacion_docente` (
  `id_especializacion_docente` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_especializacion_docente`),
  UNIQUE KEY `especializacion_docente_nombre_unique` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especializacion_docente`
--

LOCK TABLES `especializacion_docente` WRITE;
/*!40000 ALTER TABLE `especializacion_docente` DISABLE KEYS */;
/*!40000 ALTER TABLE `especializacion_docente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estudiante`
--

DROP TABLE IF EXISTS `estudiante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estudiante` (
  `id_estudiante` int unsigned NOT NULL,
  `codigo_estudiante` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_ingreso` date DEFAULT NULL,
  `modalidad_estudio` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Especialidad',
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_estudiante`),
  UNIQUE KEY `estudiante_codigo_estudiante_unique` (`codigo_estudiante`),
  KEY `IX_ESTUDIANTE_estado` (`estado`),
  CONSTRAINT `estudiante_id_estudiante_foreign` FOREIGN KEY (`id_estudiante`) REFERENCES `persona` (`id_persona`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estudiante`
--

LOCK TABLES `estudiante` WRITE;
/*!40000 ALTER TABLE `estudiante` DISABLE KEYS */;
/*!40000 ALTER TABLE `estudiante` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_estudiante_after_insert` AFTER INSERT ON `estudiante` FOR EACH ROW BEGIN
                DECLARE v_usuario_id INT;
                DECLARE v_ip VARCHAR(45);
                SET v_usuario_id = IFNULL(@usuario_id, 1);
                SET v_ip = IFNULL(@user_ip, '127.0.0.1');
                
                INSERT INTO log_actividad (id_usuario, accion, tabla_afectada, id_registro_afectado, datos_nuevos, direccion_ip, modulo)
                VALUES (v_usuario_id, 'INSERT', 'ESTUDIANTE', NEW.id_estudiante, JSON_OBJECT('id_estudiante', NEW.id_estudiante, 'codigo_estudiante', NEW.codigo_estudiante, 'fecha_ingreso', NEW.fecha_ingreso, 'estado', NEW.estado), v_ip, 'Estudiantes');
            END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_estudiante_after_update` AFTER UPDATE ON `estudiante` FOR EACH ROW BEGIN
                DECLARE v_usuario_id INT;
                DECLARE v_ip VARCHAR(45);
                SET v_usuario_id = IFNULL(@usuario_id, 1);
                SET v_ip = IFNULL(@user_ip, '127.0.0.1');
                
                INSERT INTO log_actividad (id_usuario, accion, tabla_afectada, id_registro_afectado, datos_anteriores, datos_nuevos, direccion_ip, modulo)
                VALUES (v_usuario_id, 'UPDATE', 'ESTUDIANTE', NEW.id_estudiante, 
                        JSON_OBJECT('id_estudiante', OLD.id_estudiante, 'codigo_estudiante', OLD.codigo_estudiante, 'fecha_ingreso', OLD.fecha_ingreso, 'estado', OLD.estado),
                        JSON_OBJECT('id_estudiante', NEW.id_estudiante, 'codigo_estudiante', NEW.codigo_estudiante, 'fecha_ingreso', NEW.fecha_ingreso, 'estado', NEW.estado),
                        v_ip, 'Estudiantes');
            END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_estudiante_after_delete` AFTER DELETE ON `estudiante` FOR EACH ROW BEGIN
                DECLARE v_usuario_id INT;
                DECLARE v_ip VARCHAR(45);
                SET v_usuario_id = IFNULL(@usuario_id, 1);
                SET v_ip = IFNULL(@user_ip, '127.0.0.1');
                
                INSERT INTO log_actividad (id_usuario, accion, tabla_afectada, id_registro_afectado, datos_anteriores, direccion_ip, modulo)
                VALUES (v_usuario_id, 'DELETE', 'ESTUDIANTE', OLD.id_estudiante, 
                        JSON_OBJECT('id_estudiante', OLD.id_estudiante, 'codigo_estudiante', OLD.codigo_estudiante, 'fecha_ingreso', OLD.fecha_ingreso, 'estado', OLD.estado),
                        v_ip, 'Estudiantes');
            END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`),
  KEY `failed_jobs_connection_queue_failed_at_index` (`connection`,`queue`,`failed_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grupo`
--

DROP TABLE IF EXISTS `grupo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grupo` (
  `id_grupo` int unsigned NOT NULL AUTO_INCREMENT,
  `id_curso` int unsigned NOT NULL,
  `id_docente` int unsigned NOT NULL,
  `id_aula` int unsigned NOT NULL,
  `id_periodo` int unsigned NOT NULL,
  `numero_grupo` int NOT NULL,
  `cupo_maximo` int DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Abierto',
  PRIMARY KEY (`id_grupo`),
  UNIQUE KEY `uq_grupo_cur_per_num` (`id_curso`,`id_periodo`,`numero_grupo`),
  KEY `grupo_id_aula_foreign` (`id_aula`),
  KEY `IX_GRUPO_periodo` (`id_periodo`),
  KEY `IX_GRUPO_docente` (`id_docente`),
  KEY `IX_GRUPO_curso` (`id_curso`),
  CONSTRAINT `grupo_id_aula_foreign` FOREIGN KEY (`id_aula`) REFERENCES `aula` (`id_aula`),
  CONSTRAINT `grupo_id_curso_foreign` FOREIGN KEY (`id_curso`) REFERENCES `curso` (`id_curso`),
  CONSTRAINT `grupo_id_docente_foreign` FOREIGN KEY (`id_docente`) REFERENCES `docente` (`id_docente`),
  CONSTRAINT `grupo_id_periodo_foreign` FOREIGN KEY (`id_periodo`) REFERENCES `periodo_academico` (`id_periodo`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grupo`
--

LOCK TABLES `grupo` WRITE;
/*!40000 ALTER TABLE `grupo` DISABLE KEYS */;
/*!40000 ALTER TABLE `grupo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horario`
--

DROP TABLE IF EXISTS `horario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `horario` (
  `id_horario` int unsigned NOT NULL AUTO_INCREMENT,
  `id_grupo` int unsigned NOT NULL,
  `dia_semana` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  PRIMARY KEY (`id_horario`),
  KEY `IX_HORARIO_grupo` (`id_grupo`),
  CONSTRAINT `horario_id_grupo_foreign` FOREIGN KEY (`id_grupo`) REFERENCES `grupo` (`id_grupo`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=168 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario`
--

LOCK TABLES `horario` WRITE;
/*!40000 ALTER TABLE `horario` DISABLE KEYS */;
/*!40000 ALTER TABLE `horario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripcion`
--

DROP TABLE IF EXISTS `inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscripcion` (
  `id_inscripcion` int unsigned NOT NULL AUTO_INCREMENT,
  `id_matricula` int unsigned NOT NULL,
  `fecha_inscripcion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  `id_usuario_registra` int unsigned NOT NULL,
  PRIMARY KEY (`id_inscripcion`),
  KEY `inscripcion_id_usuario_registra_foreign` (`id_usuario_registra`),
  KEY `IX_INSCRIPCION_matricula` (`id_matricula`),
  CONSTRAINT `inscripcion_id_matricula_foreign` FOREIGN KEY (`id_matricula`) REFERENCES `matricula` (`id_matricula`) ON DELETE CASCADE,
  CONSTRAINT `inscripcion_id_usuario_registra_foreign` FOREIGN KEY (`id_usuario_registra`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=181 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripcion`
--

LOCK TABLES `inscripcion` WRITE;
/*!40000 ALTER TABLE `inscripcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` smallint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_actividad`
--

DROP TABLE IF EXISTS `log_actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_actividad` (
  `id_log` int unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario` int unsigned NOT NULL,
  `accion` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tabla_afectada` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_registro_afectado` int DEFAULT NULL,
  `datos_anteriores` longtext COLLATE utf8mb4_unicode_ci,
  `datos_nuevos` longtext COLLATE utf8mb4_unicode_ci,
  `fecha_hora` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `direccion_ip` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `modulo` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_log`),
  KEY `IX_LOG_ACTIVIDAD_usuario` (`id_usuario`),
  KEY `IX_LOG_ACTIVIDAD_fecha` (`fecha_hora`),
  CONSTRAINT `log_actividad_id_usuario_foreign` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=543 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_actividad`
--

LOCK TABLES `log_actividad` WRITE;
/*!40000 ALTER TABLE `log_actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matricula`
--

DROP TABLE IF EXISTS `matricula`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matricula` (
  `id_matricula` int unsigned NOT NULL AUTO_INCREMENT,
  `id_estudiante` int unsigned NOT NULL,
  `id_periodo` int unsigned NOT NULL,
  `id_especialidad` int unsigned NOT NULL,
  `fecha_matricula` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `tipo` varchar(25) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Regular',
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  `observaciones` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_usuario_registra` int unsigned NOT NULL,
  PRIMARY KEY (`id_matricula`),
  UNIQUE KEY `uq_matricula_est_per` (`id_estudiante`,`id_periodo`),
  KEY `matricula_id_especialidad_foreign` (`id_especialidad`),
  KEY `matricula_id_usuario_registra_foreign` (`id_usuario_registra`),
  KEY `IX_MATRICULA_periodo` (`id_periodo`),
  KEY `IX_MATRICULA_estudiante` (`id_estudiante`),
  CONSTRAINT `matricula_id_especialidad_foreign` FOREIGN KEY (`id_especialidad`) REFERENCES `especialidad` (`id_especialidad`),
  CONSTRAINT `matricula_id_estudiante_foreign` FOREIGN KEY (`id_estudiante`) REFERENCES `estudiante` (`id_estudiante`),
  CONSTRAINT `matricula_id_periodo_foreign` FOREIGN KEY (`id_periodo`) REFERENCES `periodo_academico` (`id_periodo`),
  CONSTRAINT `matricula_id_usuario_registra_foreign` FOREIGN KEY (`id_usuario_registra`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=181 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matricula`
--

LOCK TABLES `matricula` WRITE;
/*!40000 ALTER TABLE `matricula` DISABLE KEYS */;
/*!40000 ALTER TABLE `matricula` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'0001_01_01_000001_create_cache_table',1),(2,'0001_01_01_000002_create_jobs_table',1),(3,'2026_06_29_000000_create_instituto_matematicas_tables',1),(4,'2026_06_29_210210_create_deuda_estudiante_table',1),(5,'2026_07_01_204600_create_caja_tables',1),(6,'2026_07_01_204607_add_sesion_to_pago_table',1),(7,'2026_07_02_021328_create_triggers_for_estudiante_and_persona',2),(8,'2026_07_02_021427_create_procedures_for_estudiante',3),(9,'2026_07_03_001527_add_cursos_requeridos_to_especialidad_table',4),(10,'2026_07_03_190309_add_modalidad_to_estudiante_table',4);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nivel`
--

DROP TABLE IF EXISTS `nivel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nivel` (
  `id_nivel` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `orden` int NOT NULL,
  `descripcion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_nivel`),
  UNIQUE KEY `nivel_nombre_unique` (`nombre`),
  UNIQUE KEY `nivel_orden_unique` (`orden`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nivel`
--

LOCK TABLES `nivel` WRITE;
/*!40000 ALTER TABLE `nivel` DISABLE KEYS */;
INSERT INTO `nivel` VALUES (1,'Único',1,NULL);
/*!40000 ALTER TABLE `nivel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nota_final`
--

DROP TABLE IF EXISTS `nota_final`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nota_final` (
  `id_nota_final` int unsigned NOT NULL AUTO_INCREMENT,
  `id_detalle_inscripcion` int unsigned NOT NULL,
  `nota` decimal(4,2) NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_usuario_registra` int unsigned NOT NULL,
  `fecha_registro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `observaciones` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_nota_final`),
  UNIQUE KEY `nota_final_id_detalle_inscripcion_unique` (`id_detalle_inscripcion`),
  KEY `nota_final_id_usuario_registra_foreign` (`id_usuario_registra`),
  KEY `IX_NOTA_FINAL_detalle` (`id_detalle_inscripcion`),
  CONSTRAINT `nota_final_id_detalle_inscripcion_foreign` FOREIGN KEY (`id_detalle_inscripcion`) REFERENCES `detalle_inscripcion` (`id_detalle_inscripcion`) ON DELETE CASCADE,
  CONSTRAINT `nota_final_id_usuario_registra_foreign` FOREIGN KEY (`id_usuario_registra`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=391 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nota_final`
--

LOCK TABLES `nota_final` WRITE;
/*!40000 ALTER TABLE `nota_final` DISABLE KEYS */;
/*!40000 ALTER TABLE `nota_final` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pago`
--

DROP TABLE IF EXISTS `pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pago` (
  `id_pago` int unsigned NOT NULL AUTO_INCREMENT,
  `id_sesion_caja` bigint unsigned DEFAULT NULL,
  `id_estudiante` int unsigned NOT NULL,
  `id_matricula` int unsigned DEFAULT NULL,
  `id_usuario_registra` int unsigned NOT NULL,
  `numero_comprobante` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_comprobante` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `monto_total` decimal(8,2) NOT NULL,
  `fecha_pago` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `metodo_pago` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Registrado',
  `observaciones` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_pago`),
  KEY `pago_id_matricula_foreign` (`id_matricula`),
  KEY `pago_id_usuario_registra_foreign` (`id_usuario_registra`),
  KEY `IX_PAGO_estudiante` (`id_estudiante`),
  KEY `IX_PAGO_fecha` (`fecha_pago`),
  KEY `pago_id_sesion_caja_foreign` (`id_sesion_caja`),
  CONSTRAINT `pago_id_estudiante_foreign` FOREIGN KEY (`id_estudiante`) REFERENCES `estudiante` (`id_estudiante`),
  CONSTRAINT `pago_id_matricula_foreign` FOREIGN KEY (`id_matricula`) REFERENCES `matricula` (`id_matricula`) ON DELETE SET NULL,
  CONSTRAINT `pago_id_sesion_caja_foreign` FOREIGN KEY (`id_sesion_caja`) REFERENCES `sesion_caja` (`id_sesion_caja`),
  CONSTRAINT `pago_id_usuario_registra_foreign` FOREIGN KEY (`id_usuario_registra`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=601 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pago`
--

LOCK TABLES `pago` WRITE;
/*!40000 ALTER TABLE `pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periodo_academico`
--

DROP TABLE IF EXISTS `periodo_academico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `periodo_academico` (
  `id_periodo` int unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Planificado',
  PRIMARY KEY (`id_periodo`),
  UNIQUE KEY `periodo_academico_codigo_unique` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periodo_academico`
--

LOCK TABLES `periodo_academico` WRITE;
/*!40000 ALTER TABLE `periodo_academico` DISABLE KEYS */;
INSERT INTO `periodo_academico` VALUES (1,'2026-II','Semestre 2026-II','2026-08-01','2026-07-03','Semestral','En Curso'),(2,'2026-I','Semestre Regular 2026-I','2026-03-15','2026-07-20','Semestral','Planificado');
/*!40000 ALTER TABLE `periodo_academico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persona`
--

DROP TABLE IF EXISTS `persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `persona` (
  `id_persona` int unsigned NOT NULL AUTO_INCREMENT,
  `tipo_documento` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `numero_documento` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombres` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `direccion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_persona`),
  UNIQUE KEY `persona_numero_documento_unique` (`numero_documento`),
  KEY `IX_PERSONA_apellidos` (`apellidos`,`nombres`)
) ENGINE=InnoDB AUTO_INCREMENT=328 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persona`
--

LOCK TABLES `persona` WRITE;
/*!40000 ALTER TABLE `persona` DISABLE KEYS */;
/*!40000 ALTER TABLE `persona` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_persona_after_insert` AFTER INSERT ON `persona` FOR EACH ROW BEGIN
                DECLARE v_usuario_id INT;
                DECLARE v_ip VARCHAR(45);
                SET v_usuario_id = IFNULL(@usuario_id, 1);
                SET v_ip = IFNULL(@user_ip, '127.0.0.1');
                
                INSERT INTO log_actividad (id_usuario, accion, tabla_afectada, id_registro_afectado, datos_nuevos, direccion_ip, modulo)
                VALUES (v_usuario_id, 'INSERT', 'PERSONA', NEW.id_persona, JSON_OBJECT('id_persona', NEW.id_persona, 'nombres', NEW.nombres, 'apellidos', NEW.apellidos, 'numero_documento', NEW.numero_documento), v_ip, 'Estudiantes');
            END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_persona_after_update` AFTER UPDATE ON `persona` FOR EACH ROW BEGIN
                DECLARE v_usuario_id INT;
                DECLARE v_ip VARCHAR(45);
                SET v_usuario_id = IFNULL(@usuario_id, 1);
                SET v_ip = IFNULL(@user_ip, '127.0.0.1');
                
                INSERT INTO log_actividad (id_usuario, accion, tabla_afectada, id_registro_afectado, datos_anteriores, datos_nuevos, direccion_ip, modulo)
                VALUES (v_usuario_id, 'UPDATE', 'PERSONA', NEW.id_persona, 
                        JSON_OBJECT('id_persona', OLD.id_persona, 'nombres', OLD.nombres, 'apellidos', OLD.apellidos, 'numero_documento', OLD.numero_documento),
                        JSON_OBJECT('id_persona', NEW.id_persona, 'nombres', NEW.nombres, 'apellidos', NEW.apellidos, 'numero_documento', NEW.numero_documento),
                        v_ip, 'Estudiantes');
            END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_persona_after_delete` AFTER DELETE ON `persona` FOR EACH ROW BEGIN
                DECLARE v_usuario_id INT;
                DECLARE v_ip VARCHAR(45);
                SET v_usuario_id = IFNULL(@usuario_id, 1);
                SET v_ip = IFNULL(@user_ip, '127.0.0.1');
                
                INSERT INTO log_actividad (id_usuario, accion, tabla_afectada, id_registro_afectado, datos_anteriores, direccion_ip, modulo)
                VALUES (v_usuario_id, 'DELETE', 'PERSONA', OLD.id_persona, 
                        JSON_OBJECT('id_persona', OLD.id_persona, 'nombres', OLD.nombres, 'apellidos', OLD.apellidos, 'numero_documento', OLD.numero_documento),
                        v_ip, 'Estudiantes');
            END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol` (
  `id_rol` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `rol_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'Administrador','Administrador total del sistema'),(2,'Director','Director del Instituto'),(3,'Coordinador','Coordinador Académico'),(4,'Docente','Docente del Instituto'),(5,'Secretaria','Personal administrativo y de registro'),(6,'Cajero','Encargado de Caja y Cobranzas');
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesion_caja`
--

DROP TABLE IF EXISTS `sesion_caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesion_caja` (
  `id_sesion_caja` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_caja` bigint unsigned NOT NULL,
  `id_usuario_apertura` int unsigned NOT NULL,
  `id_usuario_cierre` int unsigned DEFAULT NULL,
  `monto_inicial` decimal(10,2) NOT NULL,
  `monto_final_esperado` decimal(10,2) DEFAULT NULL,
  `monto_final_real` decimal(10,2) DEFAULT NULL,
  `diferencia` decimal(10,2) DEFAULT NULL,
  `fecha_apertura` datetime NOT NULL,
  `fecha_cierre` datetime DEFAULT NULL,
  `observaciones_apertura` text COLLATE utf8mb4_unicode_ci,
  `observaciones_cierre` text COLLATE utf8mb4_unicode_ci,
  `estado` enum('Abierta','Cerrada') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Abierta',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_sesion_caja`),
  KEY `sesion_caja_id_caja_foreign` (`id_caja`),
  KEY `sesion_caja_id_usuario_apertura_foreign` (`id_usuario_apertura`),
  KEY `sesion_caja_id_usuario_cierre_foreign` (`id_usuario_cierre`),
  CONSTRAINT `sesion_caja_id_caja_foreign` FOREIGN KEY (`id_caja`) REFERENCES `caja` (`id_caja`),
  CONSTRAINT `sesion_caja_id_usuario_apertura_foreign` FOREIGN KEY (`id_usuario_apertura`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `sesion_caja_id_usuario_cierre_foreign` FOREIGN KEY (`id_usuario_cierre`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesion_caja`
--

LOCK TABLES `sesion_caja` WRITE;
/*!40000 ALTER TABLE `sesion_caja` DISABLE KEYS */;
INSERT INTO `sesion_caja` VALUES (2,1,24,NULL,100.00,NULL,NULL,NULL,'2026-07-03 20:49:38',NULL,NULL,NULL,'Abierta','2026-07-04 00:49:38','2026-07-04 00:49:38');
/*!40000 ALTER TABLE `sesion_caja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` int unsigned NOT NULL AUTO_INCREMENT,
  `id_persona` int unsigned DEFAULT NULL,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  `fecha_creacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ultimo_acceso` datetime DEFAULT NULL,
  `intentos_fallidos` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `usuario_username_unique` (`username`),
  KEY `usuario_id_persona_foreign` (`id_persona`),
  KEY `IX_USUARIO_estado` (`estado`),
  CONSTRAINT `usuario_id_persona_foreign` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id_persona`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_rol`
--

DROP TABLE IF EXISTS `usuario_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_rol` (
  `id_usuario_rol` int unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario` int unsigned NOT NULL,
  `id_rol` int unsigned NOT NULL,
  `fecha_asignacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario_rol`),
  UNIQUE KEY `usuario_rol_id_usuario_id_rol_unique` (`id_usuario`,`id_rol`),
  KEY `usuario_rol_id_rol_foreign` (`id_rol`),
  CONSTRAINT `usuario_rol_id_rol_foreign` FOREIGN KEY (`id_rol`) REFERENCES `rol` (`id_rol`) ON DELETE CASCADE,
  CONSTRAINT `usuario_rol_id_usuario_foreign` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_rol`
--

LOCK TABLES `usuario_rol` WRITE;
/*!40000 ALTER TABLE `usuario_rol` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_rol` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-03 18:52:43
